* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  }

  body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  body main {
	display: flex;
	height: 100vh;
	width: 90vw;
	justify-content: center;
	align-items: center;
  }

  body main section {
	height: 80vh;
	background: url("https://source.unsplash.com/WLeWJW_WneE") no-repeat center /
	  cover;
	color: #fff;
	cursor: pointer;
	border-radius: 25px;
	position: relative;
	flex: 1;
	margin: 10px;
  }

  body main section:nth-of-type(1) {
	background: url('https://source.unsplash.com/RySPDa0FdcQ') no-repeat center center /cover;
  }

  body main section:nth-of-type(2) {
	background: url('https://source.unsplash.com/nVGv6BLPjns') no-repeat center center /cover;
  }

  body main section:nth-of-type(3) {
	background: url('https://source.unsplash.com/lAHzPBi8KoI') no-repeat center center /cover;
  }

  body main section:nth-of-type(4) {
	background: url('https://source.unsplash.com/pxA3Y13sx40') no-repeat center center /cover;
  }

  body main section:nth-of-type(5) {
	background: url('https://source.unsplash.com/8mwXRlwXFSc') no-repeat center center /cover;
  }

  body main .active {
	flex: 10;
	transition: flex 0.5s ease-in;
  }

  body main section h3 {
	position: absolute;
	bottom: 25px;
	left: 25px;
	color: #fff;
	font-size: 24px;
	opacity: 0;
  }

  body main .active h3 {
	opacity: 1;
	transition: opacity 0.5s ease-in 0.2s;
  }


  @media (max-width: 480px) {
	body main {
		width: 100vw;
	}

	body main section :nth-of-type(4),
	body main section:nth-of-type(5) {
		display: none;
	}
  }
